<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean definition goes here-->
    <bean id="VendingMachineDaoStub" class="com.mattu.vendingmachine.service.VendingMachineDaoStubImpl"/>
    <bean id="auditDaoStub" class="com.mattu.vendingmachine.service.VendingMachineAuditDaoStubImpl"/>
    <bean id="serviceLayer" class="com.sal.vendingmachine.service.VendingMachineServiceImpl">
        <constructor-arg ref="VendingMachineDaoStub"/>
        <constructor-arg ref="auditDaoStub"/>
    </bean>
</beans>